.section-about {
	background: $color-grey-light-1;
	padding: 25rem;
	margin-top: -20vh;
}

.section-features {
	margin-top: -12rem;
	padding: 25rem 0 25rem 0;
	background: linear-gradient(
			to right bottom,
			rgba($color-primary-light, 0.8),
			rgba($color-primary-dark, 0.8)
		),
		url(../img/nat-4.jpg);
	background-size: cover;

	transform: skewY(-7deg);
	& > * {
		transform: skewY(7deg);
	}
}

.section-tours {
	background: $color-grey-light-1;
	padding: 25rem 0 10rem 0;
	margin-top: -12rem;
}

.section-stories {
	margin: 0 auto;
	padding: 10rem 0;
	text-align: center;
	background: $color-grey-light-1;
}
