.section-about {
	background: $color-grey-light-1;
	padding: 25rem;
	margin-top: -20vh;
}

.section-features {
	margin-top: -11rem;
	padding: 30rem 0;
	background: linear-gradient(
			to right bottom,
			rgba($color-primary-light, 0.8),
			rgba($color-primary-dark, 0.8)
		),
		url(../img/nat-4.jpg);
	background-size: cover;

	transform: skewY(-7deg);
	& > * {
		transform: skewY(7deg);
	}
}
