.composition {
	position: relative;
	&__photo {
		width: 55%;
		box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
		border-radius: 2px;
		position: absolute;
		transition: all 0.2s;
		outline-offset: 2rem;

		&--p1 {
			top: -2rem;
		}
		&--p2 {
			right: 0;
			top: 2rem;
		}
		&--p3 {
			left: 15%;
			top: 12rem;
		}

		&:hover {
			outline: 1.5rem solid $color-primary;
			transform: scale(1.05);
			box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
			z-index: 5;
		}
	}

	&:hover &__photo:not(:hover) {
		transform: scale(0.95);
	}
}
