.feature-box {
	background-color: rgba($color-white, 0.8);
	font-size: 1.5rem;
	padding: 3rem;
	text-align: center;
	border-radius: 3px;
	box-shadow: 0 1.5rem 4rem rgba($color-black, $alpha: 0.15);
	transition: transform 0.3s;

	&__icon {
		font-size: 6rem;
		margin-bottom: 1.5rem;

		background: linear-gradient(
			to right,
			$color-primary-light,
			$color-primary-dark
		);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}

	&__text {
	}

	&:hover {
		transform: translateY(-1.5rem) scale(1.03);
	}
}
