.heading-primary {
	display: flex;
	flex-direction: column;
	color: $color-white;
	text-transform: uppercase;
	margin-bottom: 6rem;

	&--main {
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 3.5rem;

		animation: moveInLeft 1s ease-out;
	}

	&--sub {
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 1.75rem;

		animation: moveInRight 1s ease-out;
	}
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: $color-grey-dark;
}
