.row {
	display: grid;

	grid-template-columns: repeat(4, 1fr);

	grid-gap: $gutter-vertical $gutter-horizontal;

	margin: 0 auto;
	max-width: $grid-width;

	.col-1 {
		grid-column: span 1;
	}
	.col-2 {
		grid-column: span 2;
	}
	.col-3 {
		grid-column: span 3;
	}
	.col-4 {
		grid-column: span 4;
	}
}
